<%- include('../partials/header') %>
<br>
<h1 class="homeTitle">Welcome to Programmer's Protégé!</h2>
<% if (user) { %>
    <h4 class="homeTitle"><%= welcomeMessage[randNum] %></h4>
    <br>
    <section id="postBtnSection">
        <form action="/posts/new" method="GET">
            <button id="createPostBtn" type="submit">➕ Create a Protégé Post!</button>
        </form>
    </section>
    
    <br>
    <br>

    <table class="table table-success table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">User</th>
          <th scope="col">Post Title</th>
          <th scope="col">Tags</th>
          <th scope="col">Date Created</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
          <% allPosts.forEach(function(post, index) { %>
          <tr>
              <th scope="row"><%= post.userName %></th>
              <td><a href="/posts/<%= post._id %>"><%= post.title %></a></td>
              <td><%= post.tag %></td>
              <td><%= post.createdAt %></td>
              <% if (user && post.user.equals(user._id)) { %>
                <td>
                  <form action="/posts/<%= post._id %>/?_method=DELETE" method="POST">
                    <button type="submit" id="deletePostBtn">Delete Post</button>
                  </form>
               </td>
               <% } else { %>
                <td></td>
              <% }; %>
          </tr>
          <% }); %>
      </tbody>
    </table>

<% } else { %>
    <h4 class="homeTitle">Please login to begin sharing your knowledge to the rest of your fellow protégés!</h4>

    <br>

    <table class="table table-success table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Post Title</th>
            <th scope="col">Tags</th>
            <th scope="col">Date Created</th>
          </tr>
        </thead>
        <tbody>
            <% allPosts.forEach(function(post, index) { %>
            <tr>
                <th scope="row"><%= post.userName %></th>
                <td><a href="/posts/<%= post._id %>"><%= post.title %></a></td>
                <td><%= post.tag %></td>
                <td><%= post.createdAt %></td>
            </tr>
            <% }); %>
        </tbody>
      </table>
<% } %>
<%- include('../partials/footer') %>